@using Model.Dao
@model List<SingleProductList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<style>
    #div-template-hover {
        margin-top: 25px;
        align-items: center !important;
        display: flex;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var idtemp;
        $(".product-block").hover(function (e) {
            var id = $(this).attr('id');
            idtemp = id;
            $("#div-template-hover-" + id).show();
            $("#div-color-hover-" + id).hide();
        }, function () {
                var id = $(this).attr('id');
            $("#div-template-hover-"+id).hide();
            $(`#div-color-hover-${id}`).show();
        });


        $(".img-template-hover").hover(function (e) {
            var model = $(this).attr('src');
            $('#img-product-large-' + idtemp).attr('src', model);
        }, function () {
        });

    });

</script>

@{ Html.RenderAction("OfferPartial", "Home");}

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Danh mục sản phẩm</div>
                    @{ Html.RenderAction("CategoryPartial", "Category");}

                </div>
                <div class="sidebar-filter">
                    <div class="top-filter-head">Lọc sản phẩm</div>

                    <div class="common-filter">
                        <div class="head">Kích thước</div>
                        @{ Html.RenderAction("SizePartial", "Product");}


                    </div>

                    <div class="common-filter">
                        <div class="head">Màu</div>
                        @{ Html.RenderAction("ColorPartial", "Product");}

                    </div>

                    <div class="common-filter">
                        <div class="head">Giá</div>

                        @{ Html.RenderAction("PricePartial", "Product");}
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select>
                            <option value="1">Default sorting</option>
                            <option value="1">Default sorting</option>
                            <option value="1">Default sorting</option>
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <select>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="Search">
                            <div class="input-group-append">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 col-lg-4 col-xl-3 product-block" id="@item.SingleProduct.ShoeID">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src='@item.SingleProduct.ImageDefault' alt="" id="img-product-large-@item.SingleProduct.ShoeID">
                                        <ul class="card-product__imgOverlay">
                                            <li><button><i class="ti-search"></i></button></li>
                                            <li><button><i class="ti-shopping-cart"></i></button></li>
                                            <li><button><i class="ti-heart"></i></button></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>Accessories</p>

                                        <h4 class="card-product__title"><a href="#"> @Html.ActionLink(item.SingleProduct.Name, "SingleProduct", "Product", new { ShoeID = item.SingleProduct.ShoeID, ColorId = item.SingleProduct.ColorID }, null)</a></h4>
                                        <p class="card-product__price">@item.SingleProduct.Price</p>

                                        <div id="div-color-hover-@item.SingleProduct.ShoeID" style="float: left;"><span>@item.OtherColorProductList.Count Colors</span></div>

                                        <div id="div-template-hover-@item.SingleProduct.ShoeID" style="display: none;float: left;">
                                            @foreach (var value in item.OtherColorProductList)
                                            {
                                                <a>
                                                    <img src="@value.Image" alt="Avatar" width="40" height="40"
                                                         style="border-radius: 5%; margin-left: 5px" class="img-template-hover">
                                                </a>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->

@{ Html.RenderAction("TopProductPartial", "Home");}

@{ Html.RenderAction("SubscribePartial", "Home");}