@model ShoesStore.Models.LoginModel

@using Microsoft.Owin.Security

<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="container" id="slide">

                <div class="form-container2 sign-up-container">
                    <form action="#" id="form">
                        <h1>Create Account</h1>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <span>or use your email for registration</span>
                        <input type="email" placeholder="Email" id="input" class="email-input-signup" />
                        <input type="password" placeholder="Password" id="input" class="password-input-signup" />
                        <button type="button" id="btn-sign-up">Sign Up</button>
                    </form>
                </div>

                <div class="form-container2 sign-in-container" style="margin-top:50px">
                    @{
                        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                        if (loginProviders.Count() != 0)
                        {

                            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "form", style = "height:auto;" }))
                            {
                                <h2>Sign in</h2>
                                @Html.AntiForgeryToken()
                                <div id="socialLoginList" class="social-container">
                                    <p>
                                        @foreach (AuthenticationDescription p in loginProviders)
                                        {
                                            var className = p.AuthenticationType;
                                            if (className.Equals("Google"))
                                            {
                                                className = "fab fa-google-plus-g";
                                            }
                                            else
                                            {
                                                className = "fab fa-facebook-f";
                                            }
                                            <button type="submit" class="@className" id="@p.AuthenticationType" value="@p.AuthenticationType" name="provider" title="Log in using your @p.Caption account"></button>
                                        }
                                    </p>
                                </div>
                            }

                        }

                        using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { style = "padding:20px;" }))
                        {

                            <span>or use your account</span>
                            @Html.TextBoxFor(model => model.Email, new { id = "input", placeholder = "Email",@class = ".email-input-signin" });
                            @Html.PasswordFor(model => model.Password, new { id = "input", placeholder = "Password",@class = ".password-input-signin" });
                            @Html.ValidationSummary(false, "", "error");
                            <a href="/login/forgotpass">Forgot your password?</a>
                            <button type="submit" id="btn-sign-in">Sign In</button>
                        }
                    }

                </div>

                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-left">
                            <h1>Welcome Back!</h1>
                            <p>To keep connected with us please login with your personal info</p>
                            <button class="ghost" id="signIn">Sign In</button>
                        </div>
                        <div class="overlay-panel overlay-right">
                            <h1>Hello, Friend!</h1>
                            <p>Enter your personal details and start journey with us</p>
                            <button class="ghost" id="signUp">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/Assets/Client2/js/jquery-3.4.1.min.js"></script>

<script>
    $('#btn-sign-up').on('click', function () {
        var email = $('.email-input-signup').val();
        var password = $('.password-input-signup').val();
        $.ajax({
            url: '/Login/SignUp',
            data: { email: email, password: password },
            dataType: "json",
            type: "POST",
            success: function (response) {
                alert(response.message);
            }
        });
    });

     /* $('#btn-sign-in').on('click', function () {
        var email = $('.email-input-signin').val();
        var password = $('.password-input-signin').val();
        $.ajax({
            url: '/Login/SignIn',
            data: { email: email, password: password },
            dataType: "json",
            type: "POST",
            success: function (response) {
                alert(response.message);
  
            }
        });
    });*/
</script>
