@model Model.EF.User

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<link href="~/Assets/Client/css/user.css" rel="stylesheet" />
<section>
    <div class="container">
        <div id="user-pf-wrapper">

            <div id="left-panel-user">
                <div id="avatar-name" class="text-center">
                    <img class="d-block mt-5" src="/Assets/Client/img/blog/author.png" />
                    <label class="pb-5 mt-4">@Model.Name</label>
                </div>

                <div class="left-item">
                    <a class="my-3" href="/User/ViewProfile"><span><i class="ti-home mr-3"></i></span> Account overview</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="/User/EditProfile"><span><i class="ti-pencil mr-3"></i></span> Edit profile</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="/User/ResetPassword"><span><i class="ti-lock mr-3"></i></span> Change password</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="#"><span><i class="ti-shopping-cart mr-3"></i></span> My cart</a>
                </div>
            </div>


            <div id="right-panel-user">
                <div class="user-info">
                    <h2 class="mb-5">Edit your profile</h2>
                    <form action="/User/EditProfile" method="post">
                        @Html.HiddenFor(m => m.UserID)
                        <div class="form-group">
                            <label>User name</label>
                            <input type="text" class="form-control" value="@Model.Name" name="Name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" value="@Model.Email" name="Email" disabled>
                        </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" class="form-control" value="@Model.Phone" name="Phone">
                        </div>
                        <div class="form-group">
                            <label>Date of birth</label>
                            <input type="date" class="form-control" value="@Convert.ToDateTime(Model.DayOfBirth).ToString("yyyy-MM-dd")" name="DayOfBirth">
                        </div>
                        <button class="button-tracking my-5" type="submit">SAVE</button>
                        <button class="button button-header my-5 btn-light" type="reset">CANCEL</button>
                    </form>

                </div>

            </div>
        </div>

    </div>
</section>

