@model Model.EF.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<link href="~/Assets/Client/css/user.css" rel="stylesheet" />

<section>
    <div class="container">
        <div id="user-pf-wrapper">
            <div id="left-panel-user">
                <div id="avatar-name" class="text-center">
                    <img class="d-block mt-5" src="/Assets/Client/img/blog/author.png" />
                    <label class="pb-5 mt-4">@Model.Name</label>
                </div>

                <div class="left-item">
                    <a class="my-3" href="/User/ViewProfile"><span><i class="ti-home mr-3"></i></span> Account overview</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="/User/EditProfile"><span><i class="ti-pencil mr-3"></i></span> Edit profile</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="/User/ResetPassword"><span><i class="ti-lock mr-3"></i></span> Change password</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="#"><span><i class="ti-shopping-cart mr-3"></i></span> My cart</a>
                </div>
<<<<<<< HEAD
                <ul>
                    <li>
                        <a class="p-3" href="#"><span><i class="fas fa-home"></i></span> Account overview</a>
                    </li>
                    <li>
                        <a class="p-3" href="/User/EditProfile"><span><i class="fas fa-pen"></i></span> Edit profile</a>
                    </li>
                    <li>
                        <a class="p-3" href="/User/ResetPassword"><span><i class="fas fa-lock"></i></span> Change password</a>
                    </li>
                    <li>
                        <a class="p-3" href="#"><span><i class="fas fa-shopping-cart"></i></span> My cart</a>
                    </li>
                </ul>
=======
>>>>>>> update linh tinh
            </div>
            <div id="right-panel-user">
                <div class="user-info">
                    <h2 class="mb-5">Account overview</h2>
                    @if (Model != null)
                    {
                        <table>
                            <tr>
                                <td class="field"><label>User name</label></td>
                                <td><label class="black-cell">@Model.Name</label></td>
                            </tr>
                            <tr>
                                <td><label>Email</label></td>
                                <td><label class="black-cell">@Model.Email</label></td>
                            </tr>
                            <tr>
                                <td><label>Phone number</label></td>
                                <td><label class="black-cell">@Model.Phone</label></td>
                            </tr>
                            <tr>
                                <td><label>Date of birth</label></td>
                                <td><label class="black-cell">@Convert.ToDateTime(Model.DayOfBirth).ToString("yyyy-MM-dd")</label></td>
                            </tr>
                        </table>
                    }
                    <a style="width:auto" id="edit-pf" class="button my-5" href="/User/EditProfile">EDIT PROFILE</a>
                </div>

            </div>
        </div>

    </div>
</section>
